pkgbase = linux-myxps
	pkgdesc = Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes
	pkgver = 7.2
	pkgrel = 1
	url = https://github.com/Hayao0819/hayao-pacman-repo
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.tar.xz
	source = config
	source = 0001-drm-xe-lnl-ggtt-forcewake-dpt-no-stolen.patch
	source = 0002-dell-wmi-ignore-0012-0000.patch
	source = 0003-ucsi-retry-notification-reenable-after-resume.patch
	sha256sums = f9fef3d14c0df53819026f4be74459835c2a0b0dcbf5b5bbd9ea19f0829402b3
	sha256sums = 307435900d8590c57e2928ffce97155fdc9609becb776b48daf22de1087339b5
	sha256sums = 5b08d204a811bfeb496203d33c752ac33ef7eeaed7bb99739faa7d026fc50539
	sha256sums = 1f9448013aa334c8696b443bf2efb9e450c1bb217cfac1486759b3715faad129
	sha256sums = ab288dda48259b230f00af4d84be4e551aaf778a5a99ca6fcbf6ac5404a213cc

pkgname = linux-myxps
	pkgdesc = The Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-myxps-headers
	pkgdesc = Headers and scripts for building modules for the Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes kernel
	depends = pahole
