pkgbase = linux-myxps
	pkgdesc = Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes
	pkgver = 7.2.4
	pkgrel = 1
	url = https://github.com/Hayao0819/hayao-pacman-repo
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/linux-7.2.4.tar.xz
	source = config
	source = 0001-drm-xe-lnl-ggtt-forcewake.patch
	source = 0002-dell-wmi-ignore-0012-0000.patch
	source = 0003-ucsi-retry-notification-reenable-after-resume.patch
	sha256sums = 01710ee01737dac492f1bae52becd057e08d20d11589089aa06accff415c28dd
	sha256sums = 307435900d8590c57e2928ffce97155fdc9609becb776b48daf22de1087339b5
	sha256sums = 2a6aa3a4c0c996c5c701c2769a00d941d628d7ddb8f77c8a1d49861a6de4cc5e
	sha256sums = 1f9448013aa334c8696b443bf2efb9e450c1bb217cfac1486759b3715faad129
	sha256sums = ab288dda48259b230f00af4d84be4e551aaf778a5a99ca6fcbf6ac5404a213cc

pkgname = linux-myxps
	pkgdesc = The Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-myxps-headers
	pkgdesc = Headers and scripts for building modules for the Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes kernel
	depends = pahole
