pkgbase = linux-myxps
	pkgdesc = Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes and BORE
	pkgver = 7.3rc4
	pkgrel = 1
	url = https://github.com/Hayao0819/hayao-pacman-repo
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = !debug
	options = !strip
	source = https://git.kernel.org/torvalds/t/linux-7.3-rc4.tar.gz
	source = 0001-drm-xe-lnl-ggtt-forcewake.patch
	source = 0002-dell-wmi-ignore-0012-0000.patch
	source = 0003-ucsi-retry-notification-reenable-after-resume.patch
	source = 0004-bore.patch
	sha256sums = c27dd1eb568b70e07fa8807e22fdb5cbe17c1338d3c781ca3159f7a6f13cd0dd
	sha256sums = 2a6aa3a4c0c996c5c701c2769a00d941d628d7ddb8f77c8a1d49861a6de4cc5e
	sha256sums = 1f9448013aa334c8696b443bf2efb9e450c1bb217cfac1486759b3715faad129
	sha256sums = ab288dda48259b230f00af4d84be4e551aaf778a5a99ca6fcbf6ac5404a213cc
	sha256sums = 28c10c0b02bff197aa1514fcfd24d200fd4f8591a3224d2e57f6e6f063d36169
	source_x86_64 = config.x86_64
	sha256sums_x86_64 = 65f7036e59244ef7de5d174f654aac4b7e65aa98b02fc86186754d5a002a04ee

pkgname = linux-myxps
	pkgdesc = The Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes and BORE kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-myxps-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-myxps-headers
	pkgdesc = Headers and scripts for building modules for the Linux mainline with Dell XPS 13 9350 (2024, Lunar Lake) fixes and BORE kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
